* {
  text-align: center;
}

#flexbox {
  width: 80%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
}

#flexbox div {
  margin: 0 auto;
  width: 30%;
  height: 30%;
  border-radius: 100px;
}

  /* let colors = ["red", "blue", "black", "orange", "yellow", "green"]; */

#one {
  background-color: red;
}

#two {
  background-color: blue;
}

#three {
  background-color: black;
}

#four {
  background-color: orange;
}

#five {
  background-color: yellow;
}

#six {
  background-color: green;
}